.Home-Admin-Keperawatan {
    display: flex;
    flex-direction: column;
}

.ck-editor__editable {
    min-height: 500px !important;
    min-width: 900px !important;
}

.black-shadow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  

