@media only screen and (max-width: 600px) {
    .image-gallery-sarana-mobile{
            width: 100%;
            height: 250px;
            object-fit: cover;
            opacity: 0.3;
    }
}

@media only screen and (min-width: 700px) {
    .centered-sarana {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
}