.hubungi-kami-container {
    display: flex;
    flex-direction: column;
    margin: 3% 10% 10% 10%;
}

.bg-hub{
 /* background-image: url(../../assets/images/bg-hubungi.png); */
    background-repeat: no-repeat;
    background-size: 100%;
    height: 660px;
}

